@font-face {
  font-family: 'FiraSans';
  src: url("/fonts/FiraSans-Light.woff") format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'FiraSans';
  src: url("/fonts/FiraSans-Medium.woff") format('woff');
  font-weight: 500;
}