section.isActive {
  opacity: 1;
  max-width: initial;
  transform: translate3d(0, 0, 0);
}
section.isActive .Panel__header {
  border-bottom: 1px solid rgba(96,159,142,0.2);
  background-color: rgba(96,159,142,0.06);
  border-top: 1px solid rgba(96,159,142,0.2);
}
@-moz-keyframes animHover {
  0% {
    box-shadow: inset 0 0 0 #ebfaf6;
    background-color: #000;
  }
  66% {
    box-shadow: inset 0 -2rem 0 #ebfaf6;
    color: #000;
    background-color: #000;
  }
  100% {
    box-shadow: inset 0 -2rem 0 rgba(96,159,142,0.2);
    background-color: #000;
  }
}
@-webkit-keyframes animHover {
  0% {
    box-shadow: inset 0 0 0 #ebfaf6;
    background-color: #000;
  }
  66% {
    box-shadow: inset 0 -2rem 0 #ebfaf6;
    color: #000;
    background-color: #000;
  }
  100% {
    box-shadow: inset 0 -2rem 0 rgba(96,159,142,0.2);
    background-color: #000;
  }
}
@-o-keyframes animHover {
  0% {
    box-shadow: inset 0 0 0 #ebfaf6;
    background-color: #000;
  }
  66% {
    box-shadow: inset 0 -2rem 0 #ebfaf6;
    color: #000;
    background-color: #000;
  }
  100% {
    box-shadow: inset 0 -2rem 0 rgba(96,159,142,0.2);
    background-color: #000;
  }
}
@keyframes animHover {
  0% {
    box-shadow: inset 0 0 0 #ebfaf6;
    background-color: #000;
  }
  66% {
    box-shadow: inset 0 -2rem 0 #ebfaf6;
    color: #000;
    background-color: #000;
  }
  100% {
    box-shadow: inset 0 -2rem 0 rgba(96,159,142,0.2);
    background-color: #000;
  }
}
section.isActive .Panel__title {
  animation: animTitle 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  opacity: 1;
}
section.isActive .Panel__header {
  animation: animPanelHeader 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
section.isActive .Panel__content {
  animation: animBodyIn 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
section.isActive .Panel__footer {
  animation: animPanelFooter 1.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
section.isActive .Weather__EITFilters,
section.isActive .Sunspots__image,
section.isActive .SolarCycle__graph,
section.isActive .Forecast__graphs {
  transform-style: preserve-3d;
  animation: anim3DPanelLeft 0.2s ease-in;
}
section.isActive .Weather__fluxes,
section.isActive .Sunspots__description,
section.isActive .SolarCycle__description,
section.isActive .Forecast__alerts {
  transform-style: preserve-3d;
  animation: anim3DPanelRight 0.4s ease-in;
}
@-moz-keyframes animTitle {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animTitle {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes animTitle {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animTitle {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes animPanelHeader {
  0% {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-top: 1px solid transparent;
  }
  60% {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-top: 1px solid transparent;
  }
  70% {
    border-bottom: 1px solid #609f8e;
    background-color: rgba(96,159,142,0.1);
    border-top: 1px solid #609f8e;
  }
  100% {
    border-bottom: 1px solid rgba(96,159,142,0.2);
    background-color: rgba(96,159,142,0.06);
    border-top: 1px solid rgba(96,159,142,0.2);
  }
}
@-webkit-keyframes animPanelHeader {
  0% {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-top: 1px solid transparent;
  }
  60% {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-top: 1px solid transparent;
  }
  70% {
    border-bottom: 1px solid #609f8e;
    background-color: rgba(96,159,142,0.1);
    border-top: 1px solid #609f8e;
  }
  100% {
    border-bottom: 1px solid rgba(96,159,142,0.2);
    background-color: rgba(96,159,142,0.06);
    border-top: 1px solid rgba(96,159,142,0.2);
  }
}
@-o-keyframes animPanelHeader {
  0% {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-top: 1px solid transparent;
  }
  60% {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-top: 1px solid transparent;
  }
  70% {
    border-bottom: 1px solid #609f8e;
    background-color: rgba(96,159,142,0.1);
    border-top: 1px solid #609f8e;
  }
  100% {
    border-bottom: 1px solid rgba(96,159,142,0.2);
    background-color: rgba(96,159,142,0.06);
    border-top: 1px solid rgba(96,159,142,0.2);
  }
}
@keyframes animPanelHeader {
  0% {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-top: 1px solid transparent;
  }
  60% {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-top: 1px solid transparent;
  }
  70% {
    border-bottom: 1px solid #609f8e;
    background-color: rgba(96,159,142,0.1);
    border-top: 1px solid #609f8e;
  }
  100% {
    border-bottom: 1px solid rgba(96,159,142,0.2);
    background-color: rgba(96,159,142,0.06);
    border-top: 1px solid rgba(96,159,142,0.2);
  }
}
@-moz-keyframes animPanelFooter {
  0% {
    border-bottom: 1px solid transparent;
  }
  80% {
    border-bottom: 1px solid transparent;
  }
  85% {
    border-bottom: 1px solid #609f8e;
  }
  100% {
    border-bottom: 1px solid rgba(96,159,142,0.2);
  }
}
@-webkit-keyframes animPanelFooter {
  0% {
    border-bottom: 1px solid transparent;
  }
  80% {
    border-bottom: 1px solid transparent;
  }
  85% {
    border-bottom: 1px solid #609f8e;
  }
  100% {
    border-bottom: 1px solid rgba(96,159,142,0.2);
  }
}
@-o-keyframes animPanelFooter {
  0% {
    border-bottom: 1px solid transparent;
  }
  80% {
    border-bottom: 1px solid transparent;
  }
  85% {
    border-bottom: 1px solid #609f8e;
  }
  100% {
    border-bottom: 1px solid rgba(96,159,142,0.2);
  }
}
@keyframes animPanelFooter {
  0% {
    border-bottom: 1px solid transparent;
  }
  80% {
    border-bottom: 1px solid transparent;
  }
  85% {
    border-bottom: 1px solid #609f8e;
  }
  100% {
    border-bottom: 1px solid rgba(96,159,142,0.2);
  }
}
@-moz-keyframes animBodyIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-webkit-keyframes animBodyIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-o-keyframes animBodyIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@keyframes animBodyIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@-moz-keyframes anim3DPanelLeft {
  0% {
    transform: matrix3D(0.8, 0, 0, -0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, -120, 0, 0, 1);
  }
  100% {
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes anim3DPanelLeft {
  0% {
    transform: matrix3D(0.8, 0, 0, -0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, -120, 0, 0, 1);
  }
  100% {
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-o-keyframes anim3DPanelLeft {
  0% {
    transform: matrix3D(0.8, 0, 0, -0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, -120, 0, 0, 1);
  }
  100% {
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes anim3DPanelLeft {
  0% {
    transform: matrix3D(0.8, 0, 0, -0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, -120, 0, 0, 1);
  }
  100% {
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-moz-keyframes anim3DPanelRight {
  0% {
    opacity: 0;
    transform: matrix3D(0.8, 0, 0, 0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, 120, 0, 0, 1);
  }
  50% {
    opacity: 0;
    transform: matrix3D(0.8, 0, 0, 0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, 120, 0, 0, 1);
  }
  100% {
    opacity: 1;
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes anim3DPanelRight {
  0% {
    opacity: 0;
    transform: matrix3D(0.8, 0, 0, 0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, 120, 0, 0, 1);
  }
  50% {
    opacity: 0;
    transform: matrix3D(0.8, 0, 0, 0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, 120, 0, 0, 1);
  }
  100% {
    opacity: 1;
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-o-keyframes anim3DPanelRight {
  0% {
    opacity: 0;
    transform: matrix3D(0.8, 0, 0, 0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, 120, 0, 0, 1);
  }
  50% {
    opacity: 0;
    transform: matrix3D(0.8, 0, 0, 0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, 120, 0, 0, 1);
  }
  100% {
    opacity: 1;
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes anim3DPanelRight {
  0% {
    opacity: 0;
    transform: matrix3D(0.8, 0, 0, 0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, 120, 0, 0, 1);
  }
  50% {
    opacity: 0;
    transform: matrix3D(0.8, 0, 0, 0.0004, 0, 0.8, 0, 0, 0, 0, 1, 0, 120, 0, 0, 1);
  }
  100% {
    opacity: 1;
    transform: matrix3D(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-moz-keyframes animTextIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animTextIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes animTextIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animTextIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
